[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
