*.swp
vim/.netrwhist
secure
config/fish/fish_history
config/fish/generated_completions
config/configstore
config/fish/fishd*
mac/preferences/com.mizage.direct.Divvy.plist
vim/plugged
config/coc/extensions/node_modules
config/coc/commands
config/coc/history.json
config/coc/mru
config/coc/snippets-mru
